Package: dcron
Version: 4.6.0-1
Architecture: amd64
Maintainer: Stefano Balocco <stefano.balocco@gmail.com>
Installed-Size: 119
Depends: libc6 (>= 2.38), adduser, debianutils
Suggests: default-mta | exim4 | mail-transport-agent, logrotate, anacron
Conflicts: cron, cron-daemon
Replaces: cron, cron-daemon
Provides: cron, cron-daemon
Section: admin
Priority: optional
Homepage: http://www.jimpryor.net/linux/dcron.html
Description: dillon's lightweight cron daemon
 This is a continuation of Matt Dillon's beautifully minimalist dcron.
